parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        # Allow dynamic property access for JSON-RPC messages
        - '#Access to an undefined property object::\$[a-zA-Z_]+#'
        # Allow mixed types for JSON-RPC parameters
        - '#Method .* has parameter .* with no value type specified in iterable type array#'
        # Ignore missing typehints from arrays and generics
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false 